## Copyright 2009-2018 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe:
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="en">
  <head>
    ## This choice should match the #encoding directive above
    <meta charset="UTF-8">
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="seasons.js"></script>
  </head>

  <body onload="setup();">
    #include "titlebar.inc"
    
    <div id="contents">
      <div id="widget_group">
        #include "current.inc"
        #include "hilo.inc"
        #include "sunmoon.inc"
        #include "sensors.inc"
        #include "about.inc"
        #include "radar.inc"
        #include "satellite.inc"
        #include "map.inc"
      </div>

      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">History:&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a>
          </div>
          <div id="history_day" class="plot_container">
            <img src="daychannel1.png"  alt="$obs.label.extraTemp1"/>
            <img src="daychannel2.png"  alt="$obs.label.extraTemp2"/>
            <img src="daychannel3.png"  alt="$obs.label.extraTemp3"/>
            <img src="daychannel4.png"  alt="$obs.label.extraTemp4"/>
            <img src="daychannel5.png"  alt="$obs.label.outTemp" />
            <img src="daychannel6.png"  alt="$obs.label.extraTemp6"/>
            <img src="daychannel7.png"  alt="$obs.label.extraTemp7"/>
            <img src="daychannel8.png"  alt="$obs.label.inTemp"/>
          </div>
          <div id="history_week" class="plot_container" style="display:none">
            <img src="weekchannel1.png"  alt="$obs.label.extraTemp1"/>
            <img src="weekchannel2.png"  alt="$obs.label.extraTemp2"/>
            <img src="weekchannel3.png"  alt="$obs.label.extraTemp3"/>
            <img src="weekchannel4.png"  alt="$obs.label.extraTemp4"/>
            <img src="weekchannel5.png"  alt="$obs.label.outTemp"/>
            <img src="weekchannel6.png"  alt="$obs.label.extraTemp6"/>
            <img src="weekchannel7.png"  alt="$obs.label.extraTemp7"/>
            <img src="weekchannel8.png"  alt="$obs.label.inTemp"/>
          </div>
          <div id="history_month" class="plot_container" style="display:none">
            <img src="monthchannel1.png"  alt="$obs.label.extraTemp1"/>
            <img src="monthchannel2.png"  alt="$obs.label.extraTemp2"/>
            <img src="monthchannel3.png"  alt="$obs.label.extraTemp3"/>
            <img src="monthchannel4.png"  alt="$obs.label.extraTemp4"/>
            <img src="monthchannel5.png"  alt="$obs.label.outTemp"/>
            <img src="monthchannel6.png"  alt="$obs.label.extraTemp6"/>
            <img src="monthchannel7.png"  alt="$obs.label.extraTemp7"/>
            <img src="monthchannel8.png"  alt="$obs.label.inTemp"/>
          </div>
          <div id="history_year" class="plot_container" style="display:none">
            <img src="yearchannel1.png"  alt="$obs.label.extraTemp1"/>
            <img src="yearchannel2.png"  alt="$obs.label.extraTemp2"/>
            <img src="yearchannel3.png"  alt="$obs.label.extraTemp3"/>
            <img src="yearchannel4.png"  alt="$obs.label.extraTemp4"/>
            <img src="yearchannel5.png"  alt="$obs.label.outTemp"/>
            <img src="yearchannel6.png"  alt="$obs.label.extraTemp6"/>
            <img src="yearchannel7.png"  alt="$obs.label.extraTemp7"/>
            <img src="yearchannel8.png"  alt="$obs.label.inTemp"/>
          </div>
        </div>
      </div>
    </div>

    <p class="footnote">
      This station is controlled by <a href="http://weewx.com/">WeeWX</a>, an
      experimental weather software system written in Python.  Read about the 
      modifications to monitor the ice shed <a href="https://github.com/m-martini/WS-3000_WeeWx/wiki">here</a>.

      
    </p>

    #include "analytics.inc"

</body>

</html>
